<td><% if book.favorited_by?(current_user) %><!--いいね機能-->
 <p>
   <%= link_to book_favorites_path(book), method: :delete, remote: true do %>
    <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i><%= book.favorites.count %>
    <% end %>
  </p>
    <% else %>
      <p>
        <%= link_to book_favorites_path(book), method: :post, remote: true do %>
        <i class="fas fa-heart" aria-hidden="true"></i><%= book.favorites.count %>
        <% end %>
      </p>
    <% end %>
</td>